body {
    font-family: 'Secular one', sans-serif;
    overflow-x: hidden;
}



$white: #fff;
$black: #000;
$darkGray: #C4C4C4;
$gray: #E8E8E8;
$lightGray: #F4F4F4;
$green: #3FA52D;
$lightGreen: #71C562;

@mixin mediumPhoneScreen {
    @media only screen and (min-width: 375px) {
        @content;
    }
}

@mixin largePhoneScreen {
    @media only screen and (min-width: 425px) {
        @content;
    }
}

@mixin tabletScreen {
    @media only screen and (min-width: 768px) {
        @content;
    }
}


@mixin laptopScreen {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin largeLaptopScreen {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}

.header {
    font-family: 'Montserrat', sans-serif;
    &__list {
        margin: 0;
        padding: 0;
        display: none;
    }

    &__list--visible {
        display: block;
    }

    &__item {
        list-style-type: none;
        text-align: center;
        border-bottom: $black 2px solid;
        h3 {
            cursor: pointer;
        }

        .navigation {
            display: none;
            &__list {
                list-style-type: none;
                text-align: center;
                padding: 0;
                padding-bottom: 20px;
            }

            &__item {
                margin-bottom: 10px;
            }
        }

        .navigation--visible {
            display: block;
        }
    }
    
    &__item--accesories{
        border-bottom: 3px $black solid;
    }

    &__cart {
        text-align: center;
        display: none;
        border-bottom: $black 3px solid;
        .product {

            &__picture {
                background-color: $darkGray;
                width: 175px;
                height: 175px;
                border-radius: 10px;
                margin: 0 auto;
                margin-top: 10px;
            }
            &__paragraph {
                margin: 40px 0 25px;
            }


        }

        .cart__button {
            width: 200px;
            height: 40px;
            border: 2px solid $green;
            border-radius: 20px;
            background-color: transparent;
            color: $lightGreen;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 25px;
        }

    }

    .cart--visible {
        display: block;
    }

    &__signIn {
        text-align: center;
        border-bottom: 3px solid $black;
        display: none;

        .signIn__button {
            width: 200px;
            height: 40px;
            font-family: 'Roboto', sans-serif;
            background-color: transparent;
            border: 2px $darkGray solid;
            border-radius: 20px;
            font-size: 20px;
            margin-bottom: 30px;
        }
    }

    .header__signIn--visible {
        display: block;
    }

    &__input {
        margin: 5px 0 25px;
        padding: 6px 10px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        border-radius: 10px;
        border-color: $darkGray;
        border-style: solid;
    }

    &__navBar {
        height: 60px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: calc(100%-20px);

        .menu__icons--wrapper {
            @include laptopScreen() {
                width: 150px;
            }
            
            width: 125px;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .material-icons {
                font-size: 1.75rem;
                cursor: pointer;
            }
        }
    }

    .search {
        @include tabletScreen() {
            display: flex;
        }

        align-items: center;
        display: none;
        
        &__text {
            width: 300px;
            padding: 5px 5px 5px 10px;
            border: 2px solid black;
            border-radius: 20px;
            font-family: 'Roboto', sans-serif;
        }
        .search__button {
            margin: 0;
            background-color: transparent;
            border: none;
            align-self: center;
            cursor: pointer;

            .material-icons {
                height: 28px;
                font-size: 1.8rem;
            }
        }
    }


    &__accIcon,
    &__cartIcon,
    &__hamburgerIcon {
        height: 28px;
    }
}

.main {
    margin-bottom: 100px;

    &__heading {
        text-align: center;
        margin-top: 50px;
    }

    &__heading--move {
        margin: 25px;
    }

    .card-arrows--wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: -8px;
    }

    .offersCarousel__item,
    .newsCarousel__item,
    .newsCarousel__item--hidden,
    .offersCarousel__item--hidden,
    .tutorialsCarousel__item,
    .tutorialsCarousel__item--hidden {
        display: none;
    }

    .offersCarousel__item--visible,
    .newsCarousel__item--visible,
    .tutorialsCarousel__item--visible {
        display: flex;
    }

    .card--wrapper {
        width: min-content;
        background-color: $lightGray;
        border: 3px solid $gray;
        border-radius: 20px;
        margin: 0 auto;
        padding: 10px;
        display: flex;
       

        @include mediumPhoneScreen() {
            padding: 20px;
        }
    }

    .card {
        padding: 5px 0 15px 0;
        width: 200px;
        border: 3px solid $black;
        border-radius: 15px;
        margin: 0 auto;
        @include laptopScreen() {
            margin: 0 30px 0;
        }
        

        &__img {
            background-color: $darkGray;
            width: 175px;
            height: 175px;
            border-radius: 10px;
            margin: 0 auto;
            margin-top: 10px;
        }

        &__name {
            padding-top: 10px;
            text-align: center;
        }

        &__desc {
            padding-top: 15px;
            text-align: center;
        }
    }

    .card--invisible {
        display: none;
        @include laptopScreen() {
            display: block;
        }
    }

    .card--invisible1 {
        display: none;
        @include largeLaptopScreen () {
            display: block;
        }
    }

    .arrow {
        border: solid 2px $black;
        width: 42px;
        height: 38px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        cursor: pointer;
        @include largePhoneScreen() {
            margin: 0 20px 0;
        }

        .material-icons {
            font-size: 2rem;
            color: $darkGray;
        }
    }

    .left-arrow {
        transform: translateX(20px);

        @include largePhoneScreen() {
            transform: translateX(0);
        }
    }

    .right-arrow {
        transform: translateX(-20px);
        @include largePhoneScreen() {
            transform: translateX(0);
        }
    }

}

.footer {
    height: 50px;
    margin: -8px;
    padding: 0;
    background-color: $gray;
    border-top: 3px solid $darkGray;
    display: flex;
    align-items: center;
    justify-content: center;
}
